.files-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}
#new {
	width: 80%;
	background-color: var(--green);
	color: white;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	margin: 2rem;
	padding: 1.5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	transition: ease-in-out 0.2s;
}
#new:hover {
	background-color: var(--green-dark);
}

.files-nav {
	display: flex;
	justify-content: center;
	width: 80%;
	padding-bottom: 2.5rem;
}
.files-nav img {
	display: flex;
	height: 3.4rem;
}

.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.card {
	flex-basis: 1.5rem;
	flex-grow: 1;
	transition: all 0.2s ease-in-out;
	background-color: #f6f6f6;
	border-radius: 0.3rem;
	border: 2px solid gainsboro;
	box-shadow: 0 0.2rem 0.2rem #e6e6e6;
	margin: 0 1rem 1.5rem 1rem;
	padding: 1rem;
	position: relative;
	width: 80%;
}
.card header {
	transition: all 0.2s ease-in-out;
	background-color: #f6f6f6;
	border-bottom: 2px solid gainsboro;
	border-radius: 0.3rem 0.3rem 0 0;
	font-weight: bold;
	line-height: 1.5rem;
	padding: 0.7rem 0.75rem;
	margin-bottom: 1rem;
	font-size: 2.5rem;
	line-height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card header a {
	color: var(--purple);
	text-decoration: none;
	margin-left: 5px;
}
.card header a:hover {
	text-decoration: underline;
}
.delete-icon-position {
	background: none;
	border: none;
	outline: none;
	padding: 0;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s;
}
.delete-icon-position:active,
.delete-icon-position:focus {
	outline: 0;
	border: none;
}
.delete-icon-position:hover {
	cursor: pointer;
	transform: scale(1.2);
}
.delete-icon-position img {
	height: 3.2rem;
}
.card .card-copy {
	display: flex;
	align-items: center;
	flex-direction: initial;
	font-size: 2rem;
	line-height: 1.5rem;
	padding: 0.75rem 0.75rem;
	/* overflow: hidden; */
}
.card-copy-img {
	width: 30%;
	height: 16rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-copy-img img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.card-copy-text {
	width: 70%;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.card-copy-text p {
	margin: 0;
}
article h2 a,
article h3 a {
	color: #3366cc;
	text-decoration: none;
}
article h2 a:hover,
article h3 a:hover {
	text-decoration: underline;
}
article .steps {
	border-top: 0.2rem solid #ffffff;
}
article .steps h3 + p {
	margin-left: 1rem;
}

.pagination {
	margin-top: 2rem;
	font-size: 2rem;
}
.step-text-links {
	display: flex;
}
.step-links a {
	background-color: var(--purple);
	color: white;
	text-decoration: none;
	margin: 4px;
	padding: 4px 8px;
	border-radius: 4px;
	font-weight: 600;
	text-transform: uppercase;
}
.step-links a:hover {
	background-color: var(--purple-dark);
	transition: all 0.4s;
}
.current {
	margin: 0 10px;
}

p {
    line-height: 2rem;
}