{% extends "layout.html" %}
{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/add_pet.css' %}">
    {% comment %} <script src="{% static 'files/js/add_pet.js' %}"></script>  {% endcomment %}
{% endblock %}

{% block title %} Nueva Ficha {% endblock %}

{% block content %}
    <form method="post" class="container">  
        {% csrf_token %}
        <div class="field-input-container">
            <h2>Datos de la mascota</h2>

            <div class="field-container">
                <label for="name">Nombre: </label>
                {{ petForm.pet_name }}
            </div>

            <div class="field-container">
                <label for="sex">Sexo: </label>
                {{ petForm.sex }}
            </div>

            <div class="field-container">
                <label for="race">Raza: </label>
                {{ petForm.race }}
            </div>

            <div class="field-container">
                <label for="age">Edad: </label>
                {{ petForm.age }}
            </div>

            <div class="field-container">
                <label for="date_of_birth">Fecha de nacimiento: </label>
                <div class="select-date-container">{{ petForm.date_of_birth }}</div>
            </div>

            <div class="field-container">
                <label for="castrated">Castrado: </label>
                <div class="checkbox-container">{{ petForm.castrated }}</div>
            </div>

            <div class="field-container" id="castration-date-container">
                <label for="castration_date">Fecha de castración: </label>
                <div class="select-date-container">{{ petForm.castration_date }}</div>
            </div>

            <div class="field-container textarea-container">
                <label for="obs">Alergias: </label>
                {{ petForm.allergies }}
            </div>

            <div class="field-container textarea-container">
                <label for="description">Descripción: </label>
                {{ petForm.description }}
            </div>

            <div class="field-container textarea-container">
                <label for="obs">Observaciones: </label>
                {{ petForm.obs }}
            </div>
        
            <div class="field-img-container">
                <label for="obs">IMAGEN </label>
                <input id="obs" type="image" name="obs">
            </div>


            <h2>Datos del dueño</h2>

            <div class="field-container">
                <label for="name">Nombre: </label>
                {{ ownerForm.owner_name }}
            </div>

            <div class="field-container">
                <label for="name">Dirección: </label>
                {{ ownerForm.address }}
            </div>

            <div class="field-container">
                <label for="name">Teléfono 1: </label>
                {{ ownerForm.phone_number_1 }}
            </div>

            <div class="field-container">
                <label for="name">Teléfono 2: </label>
                {{ ownerForm.phone_number_2 }}
            </div>

            <div class="field-container">
                <label for="name">Teléfono 3: </label>
                {{ ownerForm.phone_number_3 }}
            </div>

            <input type="submit" value="Agregar">
        </div>
    </form>

    <script type="text/javascript">
        checkbox = document.getElementById('id_castrated');

        document.addEventListener("DOMContentLoaded", function () {
                var divElem = document.getElementById('castration-date-container'); 
                divElem.style.display = 'none';
            });

        checkbox.addEventListener('click', function() {
                var divElem = document.getElementById('castration-date-container'); 
                if (this.checked)
                    divElem.style.display = 'flex';
                else
                    divElem.style.display = 'none';
            });
    </script>
{% endblock %}

