{% extends 'file_detail_layout.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/edit_data_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/edit_clinic_history.css' %}">
{% endblock %}

{% block title %} Editar ficha de {{ petFile.pet_name }} {% endblock %}

{% block file_content %}
    <form method="post" enctype="multipart/form-data" class="article-container" id="data-form"> {% csrf_token %}
        <div class ="icon-title-container">
            <a class="back-icon-position" href="{% url 'files:clinic_history_list' pk=petFile.pk %}">
                <img src={% static 'img/arrow-circle-left-solid.svg' %} alt="back-icon">
            </a>
            
            <h2 id="datos-mascota-title">Datos de la Historia Clínica</h2> 

            <button class="edit-icon-button" type="submit">
                <img src={% static 'img/pencil-alt-solid.svg' %} alt="back-icon">
            </button>  
        </div>

        <div class="field-container">
            <label for="date">Fecha: </label>
            {{ clinicHistoryForm.date }}
        </div>

        <div class="field-container">
            <label for="name">Resumen: </label>
            {{ clinicHistoryForm.abstract }}
        </div>

        <div id="allergies-textarea" class="field-container textarea-container">
            <label for="history">Anamnesis: </label>
            {{ clinicHistoryForm.history }}
        </div>

        <div id="allergies-textarea" class="field-container textarea-container">
            <label for="clinic_signs">Signos Clínicos: </label>
            {{ clinicHistoryForm.clinic_signs }}
        </div>

        <div id="allergies-textarea" class="field-container textarea-container">
            <label for="diagnosis">Diagnóstico: </label>
            {{ clinicHistoryForm.diagnosis }}
        </div>

        <div id="allergies-textarea" class="field-container textarea-container">
            <label for="treatments">Tratamiento: </label>
            {{ clinicHistoryForm.treatments }}
        </div>

        <div id="allergies-textarea" class="field-container textarea-container">
            <label for="obs">Observaciones: </label>
            {{ clinicHistoryForm.obs }}
        </div>

        <div id="allergies-textarea" class="field-container textarea-container">
            <label for="complementary_studies">Estudios Complementarios: </label>
            {{ clinicHistoryForm.complementary_studies }}
        </div>

        <div class="img-formset">
            <button id="add_more" type="button">
                <img src={% static 'img/plus-square-solid.svg' %} alt="Agregar Foto">
            </button> 

            {{ imgFormset.management_form }}
            
            <div id="form_set">
                {% for form in imgFormset.forms %}
                    {% comment %} {{form.non_field_errors}}
                    {{form.errors}} {% endcomment %}
                    <table class='no_error'>
                        {{ form }}
                    </table>
                {% endfor %}
            </div>
            
            <div id="empty_form" style="display:none">
                <table class='no_error'>
                    {{ imgFormset.empty_form }}
                </table>
            </div>
        </div>        
    </form>

    <script>
        $('#add_more').click(function() {
            var form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
    </script>
{% endblock %}