{% extends 'file_detail_layout.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/file_content_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/edit_data_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/edit_clinic_history.css' %}">
{% endblock %}

{% block title %} Editar ficha de {{ petFile.pet_name }} {% endblock %}

{% block file_content %}
    <form method="post" enctype="multipart/form-data" class="article-container" id="data-form"> {% csrf_token %}
        <div class ="icon-title-container">
            <h2 id="datos-mascota-title">Editar datos de la consulta</h2> 

            {% comment %} TODO arreglar el boton de back {% endcomment %}
            <button type="button" class="icon-position" onclick="javascript:history.back();">
			    <img src={% static 'img/times-solid.svg' %} alt="cancelar-edicion">
		    </button>

            <button type="submit" id="save-btn" class="icon-position">
                <img src={% static 'img/check-solid.svg' %} alt="guardar-edicion">
            </button>
        </div>

        <div class="field-container">
            <label for="date">Fecha: </label>
            {{ clinicHistoryForm.date }}
        </div>

        <div class="field-container">
            <label for="name">Resumen: </label>
            {{ clinicHistoryForm.abstract }}
        </div>

        <div id="allergies-textarea" class="field-container textarea-container">
            <label for="history">Anamnesis: </label>
            {{ clinicHistoryForm.history }}
        </div>

        <div id="allergies-textarea" class="field-container textarea-container">
            <label for="clinic_signs">Signos Clínicos: </label>
            {{ clinicHistoryForm.clinic_signs }}
        </div>

        <div id="allergies-textarea" class="field-container textarea-container">
            <label for="diagnosis">Diagnóstico: </label>
            {{ clinicHistoryForm.diagnosis }}
        </div>

        <div id="allergies-textarea" class="field-container textarea-container">
            <label for="treatments">Tratamiento: </label>
            {{ clinicHistoryForm.treatments }}
        </div>

        <div id="allergies-textarea" class="field-container textarea-container">
            <label for="obs">Observaciones: </label>
            {{ clinicHistoryForm.obs }}
        </div>

        <div id="allergies-textarea" class="field-container textarea-container">
            <label for="complementary_studies">Estudios Complementarios: </label>
            {{ clinicHistoryForm.complementary_studies }}
        </div>

        <div class="img-formset">
            <button id="add_more" type="button">
                <img src={% static 'img/plus-square-solid.svg' %} alt="Agregar Foto">
            </button> 

            {{ imgFormset.management_form }}
            
            <div id="form_set">
                {% for form in imgFormset.forms %}
                    <table class='no_error'>
                        {{ form }}
                    </table>
                {% endfor %}
            </div>
            
            <div id="empty_form" style="display:none">
                <table class='no_error'>
                    {{ imgFormset.empty_form }}
                </table>
            </div>
        </div>        
    </form>

    <script>
        $('#add_more').click(function() {
            var form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
    </script>
{% endblock %}