{% extends 'file_detail_layout.html' %}
{% load static js calculate_age %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/show_data_style.css' %}">
    <script type="text/javascript" src="{% static 'files/js/pet_show_info.js' %}"></script>
{% endblock %}

{% block title %} Ficha de {{ petFile.pet_name }} {% endblock %}

{% block file_content %}
    <article class="article-container">
        <div class ="icon-title-container">
            <h2 id="datos-mascota-title" class="add-margin-left">Datos de la mascota</h2> 

            <a class="edit-icon-position" href="{% url 'files:edit_info' pk=petFile.pk %}" %}>
                <img src={% static 'img/pencil-alt-solid.svg' %} alt="edit-icon">
            </a>
        </div>

        {% if petFile.pet_img.url != "/media/images/no-image-found.jpg" %}
            <img class="set-display keep-width pet-img" src="{{ petFile.pet_img.url }}" alt="foto-mascota">
        {% endif %}

        <div class="field-container">
            <label>Nombre: </label>
            {{ petFile.pet_name }}
        </div>

        {% if petFile.species != "" %}
            <div class="field-container">
                <label>Especie: </label>
                {{ petFile.species }}
            </div>
        {% endif %}

        <div class="field-container">
            <label>Sexo: </label>

            {% if petFile.sex == "" %}
                Sin información
            {% else %}
                {{ petFile.sex }}
            {% endif %}
        </div>

        <div class="field-container">
            <label>Raza: </label>
            
            {% if petFile.race == "" %}
                Sin información
            {% else %}
                {{ petFile.race }}
            {% endif %}
        </div>

        {% if petFile.date_of_birth != None and petFile.date_of_birth|age > 0%}
            <div class="field-container">
                <label>Edad: </label>
                {{ petFile.date_of_birth|age }}
            </div>
        {% endif %}

        <div class="field-container">
            <label>Fecha de nacimiento: </label>
            
            {% if petFile.date_of_birth == None %}
                Sin información
            {% else %}
                {{ petFile.date_of_birth|date:"d/m/Y" }}
            {% endif %}
        </div>

        <div class="field-container">
            <label>Castrado: </label>
            <input type="checkbox" id="checkbox-castrated" disabled></input>
        </div>

        <div class="field-container" id="castration-date-container">
            <label>Fecha de castración: </label>

            {% if petFile.castration_date == None %}
                Sin información
            {% else %}
                {{ petFile.castration_date|date:"d/m/Y" }}
            {% endif %} 
        </div>

        <div class="field-container">
            <label>Agresivo: </label>
            <input type="checkbox" id="checkbox-aggressive" disabled></input>
        </div>

        {% if petFile.allergies != "" %}
            <div class="field-container">
                <label>Alergias: </label>
                <textarea readonly class="large-text">{{ petFile.allergies }}</textarea>
            </div>
        {% endif %}

        {% if petFile.description != "" %}
            <div class="field-container">
                <label>Descripción: </label>
                <textarea readonly class="large-text">{{ petFile.description }}</textarea>
            </div>
        {% endif %}

        {% if petFile.obs != "" %}
            <div class="field-container">
                <label>Observaciones: </label>
                <textarea readonly class="large-text">{{ petFile.obs }}</textarea>
            </div>
        {% endif %}


        <h2 class="second-title">Datos del dueño</h2>

        <div class="field-container">
            <label>Nombre: </label>
            {{ ownerFile.owner_name }}
        </div>

        <div class="field-container">
            <label>Dirección: </label>

            {% if ownerFile.address == "" %}
                Sin información
            {% else %}
                {{ ownerFile.address }}
            {% endif %}
        </div>

        {% if ownerFile.phone_number_1 != "" %}
            <div class="field-container">
                <label>Teléfono 1: </label>
                {{ ownerFile.phone_number_1 }}
            </div>
        {% endif %}

        {% if ownerFile.phone_number_2 != "" %}
            <div class="field-container">
                <label>Teléfono 2: </label>
                {{ ownerFile.phone_number_2 }}
            </div>
        {% endif %}

        {% if ownerFile.phone_number_3 != "" %}
            <div class="field-container">
                <label>Teléfono 3: </label>
                {{ ownerFile.phone_number_3 }}
            </div>
        {% endif %}      
    </article>

    <script type="text/javascript">
        var castrated="{{ petFile.castrated|js }}";
        var aggressive="{{ petFile.aggressive|js }}";
    </script>

    <style>
        #info-link {
            background-color: var(--purple-dark);
        }
    </style>
{% endblock %}