{% extends 'layout.html' %}
{% load static js %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/pet_file_detail.css' %}">
    <script type="text/javascript" src="{% static 'files/js/pet_file_detail.js' %}"></script>
{% endblock %}

{% block title %} Ficha de {{ petFile.pet_name }} {% endblock %}

{% block content %}
     <article class="container article-container">
        <div class ="icon-title-container">
            <a class="back-icon-position" href={% url 'files:pets_list' %}>
                <img src={% static 'img/arrow-circle-left-solid.svg' %} alt="back-icon">
            </a>
            
            <h2 id="datos-mascota-title">Datos de la mascota</h2> 

            <button class="edit-icon-button">
                <img src={% static 'img/pencil-alt-solid.svg' %} alt="back-icon">
            </button>  
        </div>

        <img class="pet-img" src="{{ petFile.pet_img.url}}" alt="foto-mascota">

        <div class="field-container">
            <label for="name">Nombre: </label>
            <div class="adjust-margin">{{ petFile.pet_name }}</div>
        </div>

        <div class="field-container">
            <label for="sex">Sexo: </label>
            {% if petFile.sex == "" %}
                <div class="adjust-margin">Sin información</div>
            {% else %}
                <div class="adjust-margin">{{ petFile.sex }}</div>
            {% endif %}
        </div>

        <div class="field-container">
            <label for="race">Raza: </label>
            {% if petFile.race == "" %}
                <div class="adjust-margin">Sin información</div>
            {% else %}
                <div class="adjust-margin">{{ petFile.race }}</div>
            {% endif %}
        </div>

        <div class="field-container">
            <label for="age">Edad: </label>
            <div class="adjust-margin">{{ petFile.age }}</div>
        </div>

        <div class="field-container">
            <label for="date_of_birth">Fecha de nacimiento: </label>
            {% if petFile.date_of_birth == None %}
                <div class="adjust-margin">Sin información</div>
            {% else %}
                <div class="select-date-container">{{ petFile.date_of_birth }}</div>
            {% endif %}
        </div>

        <div class="field-container">
            <label for="castrated">Castrado: </label>
            <input type="checkbox" id="checkbox-castrated" disabled></input>
        </div>

        <div class="field-container" id="castration-date-container">
            <label for="castration_date">Fecha de castración: </label>
            {% if petFile.castration_date == None %}
                <div class="adjust-margin">Sin información</div>
            {% else %}
                <div class="select-date-container">{{ petFile.castration_date }}</div>
            {% endif %}
        </div>

        <div class="field-container">
            <label for="aggressive">Agresivo: </label>
            <input type="checkbox" id="checkbox-aggressive" disabled></input>
        </div>

        <div class="field-container textarea-container">
            <label for="allergies">Alergias: </label>
            {% if petFile.allergies == "" %}
                <div class="adjust-margin">Sin información</div>
            {% else %}
                <textarea readonly class="large-text">{{ petFile.allergies }}</textarea>
            {% endif %}
        </div>

        <div class="field-container textarea-container">
            <label for="description">Descripción: </label>
            {% if petFile.description == "" %}
                <div class="adjust-margin">Sin información</div>
            {% else %}
                <textarea readonly class="large-text">{{ petFile.description }}</textarea>
            {% endif %}
        </div>

        <div class="field-container textarea-container">
            <label for="obs">Observaciones: </label>
            {% if petFile.obs == "" %}
                <div class="adjust-margin">Sin información</div>
            {% else %}
                <textarea readonly class="large-text">{{ petFile.obs }}</textarea>
            {% endif %}
        </div>


        <h2>Datos del dueño</h2>

        <div class="field-container">
            <label for="name">Nombre: </label>
            <div class="adjust-margin">{{ ownerFile.owner_name }}</div>
        </div>

        <div class="field-container">
            <label for="name">Dirección: </label>
            {% if ownerFile.address == "" %}
                <div class="adjust-margin">Sin información</div>
            {% else %}
                <div class="adjust-margin">{{ ownerFile.address }}</div>
            {% endif %}
        </div>

        <div class="field-container">
            <label for="name">Teléfono 1: </label>
            {% if ownerFile.phone_number_1 == "" %}
                <div class="adjust-margin">Sin información</div>
            {% else %}
                <div class="adjust-margin">{{ ownerFile.phone_number_1 }}</div>
            {% endif %}
        </div>

        <div class="field-container">
            <label for="name">Teléfono 2: </label>
            {% if ownerFile.phone_number_2 == "" %}
                <div class="adjust-margin">Sin información</div>
            {% else %}
                <div class="adjust-margin">{{ ownerFile.phone_number_2 }}</div>
            {% endif %}
        </div>

        <div class="field-container">
            <label for="name">Teléfono 3: </label>
            {% if ownerFile.phone_number_3 == "" %}
                <div class="adjust-margin">Sin información</div>
            {% else %}
                <div class="adjust-margin">{{ ownerFile.phone_number_3 }}</div>
            {% endif %}
        </div>
    </article>

    <script type="text/javascript">
            var castrated="{{ petFile.castrated|js }}";
            var aggressive="{{ petFile.aggressive|js }}";
    </script>
{% endblock %}