{% extends "layout.html" %}
{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/pet_files_list.css' %}">
    <script src="{% static 'files/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/js/pet_files_list.js' %}"></script>
{% endblock %}

{% block title %} Todas las Fichas {% endblock %}

{% block content %} {% csrf_token %}
    <div class="files-container">
        <div class="files-nav">
            <form class="searchbar-container" method="get">
                <input type="text" id="file-search" name="q" placeholder="Buscar..." value={{ query }} >
                <a class="cancel-icon-position" href={% url 'files:pets_list' %}>
                    <img src={% static 'img/times-circle-solid.svg' %} alt="Agregar Ficha">
                </a>
            </form>

            <a class="add-icon-position" href={% url 'files:add_pet' %}>
                <img src={% static 'img/plus-square-solid.svg' %} alt="Agregar Ficha">
            </a>    
        </div>

        <div class="cards">
            {% for petFile in petFiles %}
                <div class="card" id="card-{{ petFile.pk }}">
                    <header>
                        <a href="{% url 'files:show_info' pk=petFile.pk %}">{{ petFile.pet_name }}</a>
                        
                        <button class="delete-btn delete-icon-position" value="{{petFile.pk}}">
                            <img src={% static 'img/times-circle-regular.svg' %} alt="eliminar-ficha">
                        </button>
                    </header>
                    
                    <div class="card-copy">
                        <div class="card-copy-img">
                            <img src="{{ petFile.pet_img.url}}" alt="foto-mascota">
                        </div>
                        <div class="card-copy-text">
                            <p>Sexo: {{ petFile.sex }}</p>

                            {% if petFile.race == ''%}
                                <p>Raza: Sin información</p>
                            {% else %}
                                <p>Raza: {{ petFile.race }}</p>
                            {% endif %}
                            
                            <p>Edad: {{ petFile.age }}</p>

                            {% if petFile.castrated == True%}
                                <p>Castrado: Si</p>
                            {% else %}
                                <p>Castrado: No</p>
                            {% endif %}
                            
                            {% if petFile.aggressive == True%}
                                <p>Agresivo: Si</p>
                            {% else %}
                                <p>Agresivo: No</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-text-links">
                <div class="step-links">
                    {% if petFiles.has_previous %}
                        <a href="?q={{ query }}&page=1">primera</a>
                        <a href="?q={{ query }}&page={{ petFiles.previous_page_number }}">anterior</a>
                    {% endif %}
                </div>

                <span class="current">
                    Página {{ petFiles.number }} de {{ petFiles.paginator.num_pages }}
                </span>

                <div class="step-links">
                    {% if petFiles.has_next %}
                        <a href="?q={{ query }}&page={{ petFiles.next_page_number }}">siguiente</a>
                        <a href="?q={{ query }}&page={{ petFiles.paginator.num_pages }}">última</a>
                    {% endif %}
                </div>
            </span>
        </div>
    </div>

    {% comment %} <script type="text/javascript">
        document.getElementById("file-search").value = "{{ query }}"
    </script> {% endcomment %}
{% endblock %}
