{% extends 'file_detail_layout.html' %}
{% load static %}

{% block static %}
    <script type="text/javascript" src="{% static 'files/js/show_clinic_history.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/show_data_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/show_clinic_history.css' %}">
{% endblock %}

{% block title %} Consulta del {{ clinicHistory.date|date:"d/m/Y" }} {% endblock %}

{% block file_content %}
    <article class="article-container">
        <div class ="icon-title-container">
            <a class="back-icon-position" href="{% url 'files:clinic_history_list' pk=petFile.pk %}">
                <img src={% static 'img/arrow-circle-left-solid.svg' %} alt="back-icon">
            </a>
            
            <h2 id="datos-mascota-title">Datos de la consulta</h2> 

            <a class="edit-icon-position" href="{% url 'files:edit_clinic_history' pk=petFile.pk clinic_history_pk=clinicHistory.pk %}" %}>
                <img src={% static 'img/pencil-alt-solid.svg' %} alt="edit-icon">
            </a>
        </div>

        <div class="field-container no-modify">
            <label class="no-modify">Fecha: </label>
            {{ clinicHistory.date|date:"d/m/Y" }}
        </div>

        {% if clinicHistory.abstract != "" %}
            <div class="field-container no-modify">
                <label class="no-modify">Resumen: </label>
                {{ clinicHistory.abstract }}
            </div>
        {% endif %}

        {% if clinicHistory.history != "" %}
            <div class="field-container">
                <label>Anamnesis: </label>
                <textarea readonly class="large-text">{{ clinicHistory.history }}</textarea>
            </div>
        {% endif %}

        {% if clinicHistory.clinic_signs != "" %}
            <div class="field-container">
                <label>Signos Clínicos: </label>
                <textarea readonly class="large-text">{{ clinicHistory.clinic_signs }}</textarea>
            </div>
        {% endif %}

        {% if clinicHistory.diagnosis != "" %}
            <div class="field-container">
                <label>Diagnóstico: </label>
                <textarea readonly class="large-text">{{ clinicHistory.diagnosis }}</textarea>
            </div> 
        {% endif %}

        {% if clinicHistory.treatments != "" %}
            <div class="field-container">
                <label>Tratamiento: </label>
                <textarea readonly class="large-text">{{ clinicHistory.treatments }}</textarea>
            </div> 
        {% endif %}

        {% if clinicHistory.obs != "" %}
            <div class="field-container">
                <label>Observaciones: </label>
                <textarea readonly class="large-text">{{ clinicHistory.obs }}</textarea>
            </div> 
        {% endif %}

        {% if clinicHistory.complementary_studies != "" %}
            <div class="field-container">
                <label>Estudios Complementarios: </label>
                <textarea readonly class="large-text">{{ clinicHistory.complementary_studies }}</textarea>
            </div>
        {% endif %}

        <div class="field-container">
            <label>Fotos: </label>
            <div id="imageCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    {% for i in clinicHistoryImg %}
                        {% if forloop.first %}
                            <li data-target="#imageCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                        {% else %}
                            <li data-target="#imageCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>

                <div class="carousel-inner" style="max-width: 70rem;">
                    {% for img in clinicHistoryImg %}
                        {% if forloop.first %}
                            <a class="carousel-item active" data-toggle="modal" data-target="#modal-{{ forloop.counter0 }}">
                                <img class="d-block w-100" src="{{ img.image.url }}" alt="foto-mascota">
                            </a>
                        {% else %}
                            <a class="carousel-item" data-toggle="modal" data-target="#modal-{{ forloop.counter0 }}">
                                <img class="d-block w-100" src="{{ img.image.url }}" alt="foto-mascota">
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!-- Modals -->
        {% for img in clinicHistoryImg %}
            <div class="modal fade" id="modal-{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    {% comment %} <div class="modal-header custom-height-modal"> {% endcomment %}
                        <div class="modal-content custom-height-modal">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <img class="custom-height-modal" src="{{ img.image.url }}" alt="foto-mascota">
                        </div>
                    {% comment %} </div> {% endcomment %}
                </div>
            </div>
        {% endfor %}
    </article>

    <script>
        $('.carousel').carousel()
    </script>
{% endblock %}