{% extends 'file_detail_layout.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/show_data_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/show_list_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'files/css/show_clinic_history.css' %}">
    <script type="text/javascript" src="{% static 'files/js/show_clinic_history.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/js/show_internment_history.js' %}"></script>
{% endblock %}

{% block title %} Internación del {{ internmentHistory.entry_date|date:"d/m/Y" }} {% endblock %}

{% block file_content %}
    <article class="article-container">
        <div class ="icon-title-container">
            <a class="back-icon-position" href="{% url 'files:internment_history_list' pk=petFile.pk %}">
                <img src={% static 'img/arrow-circle-left-solid.svg' %} alt="back-icon">
            </a>
            
            <h2 id="datos-mascota-title">Datos de internación</h2> 

            <a class="edit-icon-position" href="{% url 'files:edit_internment_history' pk=petFile.pk internment_history_pk=internmentHistory.pk %}" %}>
                <img src={% static 'img/pencil-alt-solid.svg' %} alt="edit-icon">
            </a>
        </div>

        <div class="field-container no-modify">
            <label class="no-modify">Fecha: </label>
            {% if internmentHistory.is_interned == True %}
                {{ internmentHistory.entry_date|date:"d/m/Y" }} - En curso
            {% else %}
                {{ internmentHistory.entry_date|date:"d/m/Y" }} - {{ internmentHistory.exit_date|date:"d/m/Y" }}
            {% endif %}
        </div>

        <div class="field-container no-modify">
            <label class="no-modify">Nombre: </label>
            {{ petFile.pet_name }}
        </div>

        <div class="field-container no-modify">
            <label class="no-modify">Dueño: </label>
            {{ ownerFile.owner_name }}
        </div>

        {% if ownerFile.phone_number_1 != "" %}
            <div class="field-container no-modify">
                <label class="no-modify">Teléfono 1: </label>
                {{ ownerFile.phone_number_1 }}
            </div>
        {% endif %}

        {% if ownerFile.phone_number_2 != "" %}
            <div class="field-container no-modify">
                <label class="no-modify">Teléfono 2: </label>
                {{ ownerFile.phone_number_2 }}
            </div>
        {% endif %}

        {% if ownerFile.phone_number_3 != "" %}
            <div class="field-container no-modify">
                <label class="no-modify">Teléfono 3: </label>
                {{ ownerFile.phone_number_3 }}
            </div>
        {% endif %}
    </article>

    <div class="files-container">
        <button id="new" class="new-day-btn" name="{{ internmentHistory.pk }}">Agregar día</button>
    </div>

    {% for internmentDay in internmentDay_list %}
        <div class="card card-list" id="card-{{ internmentDay.pk }}">
            <header class="no-bottom-line">
                <a href="{% url 'files:show_day_internment_history' pk=petFile.pk internment_day_pk=internmentDay.pk%}">
                    {{ internmentDay.date|date:"d/m/Y" }}
                </a>
                
                <button class="delete-btn delete-icon-position" value="{{internmentDay.pk}}">
                    <img src={% static 'img/times-circle-regular.svg' %} alt="eliminar-ficha">
                </button>
            </header>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-text-links">
            <div class="step-links">
                {% if internmentDay_list.has_previous %}
                    <a href="?page=1">primera</a>
                    <a href="?page={{ internmentDay_list.previous_page_number }}">anterior</a>
                {% endif %}
            </div>

            <span class="current">
                Página {{ internmentDay_list.number }} de {{ internmentDay_list.paginator.num_pages }}
            </span>

            <div class="step-links">
                {% if internmentDay_list.has_next %}
                    <a href="?page={{ internmentDay_list.next_page_number }}">siguiente</a>
                    <a href="?page={{ internmentDay_list.paginator.num_pages }}">última</a>
                {% endif %}
            </div>
        </span>
    </div>
    
    <style>
        #clinic-history-link {
            background-color: var(--purple);
        }

        #internment-history-link {
            background-color: var(--purple-dark);
        }
    </style>
{% endblock %}