
.container {
    justify-content: center;
}

.field-container {
	width: 80%;
}
.field-container:not(.no-modify) {
	flex-direction: column;
	align-items: flex-start;
}

label:not(.no-modify) {
	margin-bottom: 2rem;
	max-width: 100%;
	text-decoration: underline;
}

.carousel-item:hover {
	cursor: pointer;
}

.modal {
	width: 1024px;
	height: 576px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -512px;
	margin-top: -288px;
}
.modal-dialog {
	margin: 0;
	width: 1024px;
	height: 576px;
	max-width: none;
	overflow: hidden;
}
.custom-height-modal {
	width: 1024px;
	height: 576px;
}

.modal img {
	position: absolute;
}
.close {
	position: relative;
	z-index: 51;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin-right: 1.2rem;
	font-size: 60px;
	color: #fff;
	text-shadow: none;
	opacity: 0.4;
	outline: none;
}
.close:hover {
	color: #fff;
}

.close:active,
.close:focus {
	outline: 0;
	border: none;
}

.files-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

#new {
	width: 80%;
	border: none;
	outline: none;
	background-color: var(--green);
	color: white;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	padding: 1.5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	transition: ease-in-out 0.2s;
}
#new:hover {
	background-color: var(--green-dark);
}

.card {
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
}

.new-card {
	margin: 0;
	width: 97%;
}

.article-container {
	margin-bottom: 0;
}

.no-bottom-line {
	border-bottom: none !important;
	margin-bottom: 0 !important;
}



/* #photos-column {
    flex-direction: column;
    align-items: start;
}
label:not(.no-modify) {
    margin-bottom: 2rem;
    max-width: 100%;
    text-decoration: underline;
}

.modal img {
    position: absolute;
}
.custom-height-modal {
    width: 1024px;
    height: 576px;
} */