{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="container sub-container">
        <div class="section-nav-container">
            <a id="nav-back-icon" href={% url 'files:pets_list' %}>
                <img src={% static 'img/arrow-left-solid.svg' %} alt="back-icon">
            </a>
            <a href="{% url 'files:show_info' pk=petFile.pk %}" id="info-link">Información</a>
            <a href="{% url 'files:clinic_history_list' pk=petFile.pk %}" id="clinic-history-link">Historial Clínico</a>
            <a href="{% url 'files:vaccination_history_list' pk=petFile.pk %}" id="vaccination-history-link">Vacunas</a>
            <a href="{% url 'files:show_deworming_history' pk=petFile.pk %}" id="deworming-history-link">Desparasitaciones</a>
            <a href="{% url 'files:show_internment_history' pk=petFile.pk %}" id="internment-history-link">Internación</a>
        </div>

        {% block file_content %}{% endblock  %}
    </div>

    <style>
        .sub-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .section-nav-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 1rem;
            margin-right: 5rem;
        }
        .section-nav-container a:not(.back-icon-position) {
            background-color: var(--purple);
            color: white;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 600;
            padding: 6px 10px;
            border-radius: 8px;
            margin-right: 3px;
        }
        .section-nav-container a:last-of-type:not(.back-icon-position)  {
            margin-right: 0;
        }
        .section-nav-container a:hover:not(.back-icon-position)  {
            transition: all 0.2s; 
            background-color: var(--purple-dark);
        }
        #current-tab {
            background-color: var(--purple-dark);
        }

        #nav-back-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-right: 2rem;
            background: none;
        }
        #nav-back-icon:hover {
            transition: all 0.4s; 
            transform: scale(1.25);
        }
        #nav-back-icon img {
            width: 3rem;
            display: flex;
            transition: all 0.4s;
        }
    </style>
{% endblock %}